<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/40a19c6b-47cd-449c-820f-33ec8381ce35/resourcegroups/stages-2425-lorenzom-rg/providers/Microsoft.Web/sites/Darts-api-lorenzo</ResourceId>
    <ResourceGroup>stages-2425-lorenzom-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/40a19c6b-47cd-449c-820f-33ec8381ce35/resourceGroups/stages-2425-lorenzom-rg/providers/Microsoft.ApiManagement/service/DartsApiapi/apis/DartsApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://darts-api-lorenzo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>af1d9f6f-4d25-4404-88d4-9f172ebcf658</ProjectGuid>
    <MSDeployServiceURL>darts-api-lorenzo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Darts-api-lorenzo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Darts-api-lorenzo</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>